<!-- 
/**
 * 资产转移 列表页 JS 脚本
 * @author 金杰 , maillank@qq.com
 * @since 2021-10-12 16:00:05
 */
 -->
 <!DOCTYPE html>
<html style="background-color: #FFFFFF;">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
	<title th:text="${lang.translate('资产转移')}">资产转移</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css" th:href="'/assets/libs/layui/css/layui.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/css/admin.css" th:href="'/assets/css/admin.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/libs/toast/css/toast.css" type="text/css" th:href="'/assets/libs/toast/css/toast.css?'+${cacheKey}">
    <link rel="stylesheet" href="/assets/css/foxnic-web.css" th:href="'/assets/css/foxnic-web.css?'+${cacheKey}"/>
    <link href="/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <script th:inline="javascript">var foxnic_cachekey=[[${cacheKey}]];</script>
    <style>
    </style>
</head>

<body style="overflow-y: hidden;">
<div class="form-container" >

    <form id="data-form" lay-filter="data-form" class="layui-form model-form" style="display:none">

        <input name="id" id="id"  type="hidden"/>

         <!--开始：group 循环-->



        <div class="layui-row form-row">

             <!--开始：group 循环-->
            <div class="layui-col-xs4 form-column">

                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('调出使用公司/部门')}">调出使用公司/部门</div><div class="layui-required">*</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="outUseOrganizationId" id="outUseOrganizationId" name="outUseOrganizationId"  type="hidden" class="layui-input"    lay-verify="|required"   />
                            <button id="outUseOrganizationId-button" type="button" action-type="org-dialog" class="layui-btn   " style="width: 100%"> <i class='layui-icon layui-icon-search'></i> <span th:text="${lang.translate('请选择组织节点')}" th:default-label="${lang.translate('请选择组织节点')}">按钮文本</span></button>
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('调入使用公司/部门')}">调入使用公司/部门</div><div class="layui-required">*</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="inUseOrganizationId" id="inUseOrganizationId" name="inUseOrganizationId"  type="hidden" class="layui-input"    lay-verify="|required"   />
                            <button id="inUseOrganizationId-button" type="button" action-type="org-dialog" class="layui-btn   " style="width: 100%"> <i class='layui-icon layui-icon-search'></i> <span th:text="${lang.translate('请选择组织节点')}" th:default-label="${lang.translate('请选择组织节点')}">按钮文本</span></button>
                        </div>
                    </div>

                <!--结束：栏次内字段循环-->
            </div>
             <!--开始：group 循环-->
            <div class="layui-col-xs4 form-column">

                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('调入管理员')}">调入管理员</div><div class="layui-required">*</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="managerId" id="managerId" name="managerId"  type="hidden" class="layui-input"    lay-verify="|required"   />
                            <button id="managerId-button" type="button" action-type="emp-dialog" class="layui-btn   " style="width: 100%"> <i class='layui-icon layui-icon-search'></i> <span th:text="${lang.translate('请选择人员')}" th:default-label="${lang.translate('请选择人员')}">按钮文本</span></button>
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('使用人员')}">使用人员</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="useUserId" id="useUserId" name="useUserId"  type="hidden" class="layui-input"   />
                            <button id="useUserId-button" type="button" action-type="emp-dialog" class="layui-btn   " style="width: 100%"> <i class='layui-icon layui-icon-search'></i> <span th:text="${lang.translate('请选择人员')}" th:default-label="${lang.translate('请选择人员')}">按钮文本</span></button>
                        </div>
                    </div>

                <!--结束：栏次内字段循环-->
            </div>
             <!--开始：group 循环-->
            <div class="layui-col-xs4 form-column">


                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('存放位置')}">存放位置</div><div class="layui-required">*</div></div>
                        <div class="layui-input-block ">
                            <div id="positionId" input-type="select" th:data="${'/service-eam/eam-position/query-list'}"></div>
                        </div>
                    </div>


                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('位置详情')}">位置详情</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="positionDetail" id="positionDetail" name="positionDetail" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('位置详情') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                <!--结束：栏次内字段循环-->
            </div>
            <!--结束：栏次输入框循环-->
        </div>
         <!--开始：group 循环-->



        <div class="layui-row form-row">

             <!--开始：group 循环-->
            <div class="layui-col-xs12 form-column">


                    <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('转移说明')}">转移说明</div></div>
                    <div class="layui-input-block ">
                        <textarea lay-filter="content" id="content" name="content" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('转移说明') }" class="layui-textarea" style="height: 30px" ></textarea>
                    </div>
                </div>


                <!--结束：栏次内字段循环-->
            </div>
            <!--结束：栏次输入框循环-->
        </div>
         <!--开始：group 循环-->

        <fieldset class="layui-elem-field layui-field-title form-group-title">
        <legend>资产列表</legend>
        </fieldset>
        <div class="layui-row form-row" style="text-align: center;">
            <div style="display: inline-block;padding-right: 8px;padding-left: 8px" class="layui-col-xs12">
            <iframe js-fn="assetSelectList" class="form-iframe" frameborder="0" style="width: 100%"></iframe>
            </div>
        </div>
        <!--结束：group循环-->

        <div style="height: 8px"></div>
        <div style="height: 20px"></div>


    </form>

</div>
<div class="model-form-footer">
    <button class="layui-btn layui-btn-primary" id="cancel-button" lay-filter="cancel-button" type="button" th:text="${lang.translate('取消')}" >取消</button>
    <button th:if="${perm.checkAnyAuth('eam_asset_tranfer:create','eam_asset_tranfer:update','eam_asset_tranfer:save')}" class="layui-btn" style="margin-right: 15px;display: none;"  id="submit-button" lay-filter="submit-button" lay-submit th:text="${lang.translate('保存')}">保存</button>
</div>

<script type="text/javascript" src="/module/global.js" th:src="'/module/global.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js" th:src="'/assets/libs/jquery-3.2.1.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js" th:src="'/assets/libs/pandyle.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js" th:src="'/assets/libs/layui/layui.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/toast/js/toast.js" th:src="'/assets/libs/toast/js/toast.js?'+${cacheKey}"></script>

<script th:inline="javascript">
    var LAYUI_TABLE_WIDTH_CONFIG = [[${layuiTableWidthConfig}]];
    var SELECT_STATUS_DATA = [[${enum.toArray('com.dt.platform.constants.enums.eam.AssetHandleStatusEnum')}]];
    var VALIDATE_CONFIG={"inUseOrganizationId":{"labelInForm":"调入使用公司/部门","inputType":"button","required":true},"positionId":{"labelInForm":"存放位置","inputType":"select_box","required":true},"managerId":{"labelInForm":"调入管理员","inputType":"button","required":true},"outUseOrganizationId":{"labelInForm":"调出使用公司/部门","inputType":"button","required":true}};
    var AUTH_PREFIX="eam_asset_tranfer";

    // 单据ID
    var BILL_ID = [[${billId}]] ;
    // 单据类型
    var BILL_TYPE = [[${billType}]] ;

</script>



<script th:src="'/business/eam/asset_tranfer/asset_tranfer_ext.js?'+${cacheKey}"></script>
<script th:src="'/business/eam/asset_tranfer/asset_tranfer_form.js?'+${cacheKey}"></script>

</body>
</html>