<!-- 
/**
 * 信息系统 列表页 JS 脚本
 * @author 金杰 , maillank@qq.com
 * @since 2021-09-05 12:20:15
 */
 -->
 <!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
    <title th:text="${lang.translate('信息系统')}">信息系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css" th:href="'/assets/libs/layui/css/layui.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/css/admin.css" th:href="'/assets/css/admin.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/libs/toast/css/toast.css" type="text/css" th:href="'/assets/libs/toast/css/toast.css?'+${cacheKey}">
    <link rel="stylesheet" href="/assets/css/foxnic-web.css" th:href="'/assets/css/foxnic-web.css?'+${cacheKey}">
    <link href="/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <script th:inline="javascript">var foxnic_cachekey=[[${cacheKey}]];</script>
    <style>
    </style>
</head>

<body style="overflow-y: hidden">

<div class="layui-card">
 
    <div class="layui-card-body" style="">

        <div class="search-bar" style="">

            <div class="search-input-rows" style="opacity: 0">
                <!-- 搜索输入区域 -->
                <div class="layui-form toolbar search-inputs">
                    <!-- 主键 , id ,typeName=text_input, isHideInSearch=true -->
                    <!-- 父节点 , pid ,typeName=text_input, isHideInSearch=true -->
                    <!-- 名称 , name ,typeName=text_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('名称')}" class="search-label name-label">名称</span><span class="search-colon">:</span></div>
                        <input id="name" class="layui-input search-input" style="width: 140px" type="text" />
                    </div>
                    <!-- 介绍 , profile ,typeName=text_input, isHideInSearch=true -->
                    <!-- 运维模式 , opsMethod ,typeName=select_box, isHideInSearch=true -->
                    <!-- 开发模式 , devMethod ,typeName=select_box, isHideInSearch=true -->
                    <!-- 所属公司/部门 , belongOrgInfo ,typeName=text_input, isHideInSearch=true -->
                    <!-- 演练时间 , lastdrillDate ,typeName=date_input, isHideInSearch=true -->
                    <!-- 上线时间 , onlineDate ,typeName=date_input, isHideInSearch=true -->
                    <!-- 下线时间 , offlineDate ,typeName=date_input, isHideInSearch=true -->
                    <!-- 操作系统 , osInfo ,typeName=text_input, isHideInSearch=true -->
                    <!-- 数据库 , dbInfo ,typeName=text_input, isHideInSearch=true -->
                    <!-- 应用 , appInfo ,typeName=text_input, isHideInSearch=true -->
                    <!-- RTO , rto ,typeName=text_input, isHideInSearch=true -->
                    <!-- RPO , rpo ,typeName=text_input, isHideInSearch=true -->
                    <!-- 硬件信息 , hardwareInfo ,typeName=text_input, isHideInSearch=true -->
                    <!-- 备份信息 , backupInfo ,typeName=text_input, isHideInSearch=true -->
                    <!-- 本地备份 , sameplaceBacupInfo ,typeName=text_input, isHideInSearch=true -->
                    <!-- 异地备份 , diffplaceBackupInfo ,typeName=text_input, isHideInSearch=true -->
                    <!-- 归档模式 , archMethod ,typeName=text_input, isHideInSearch=true -->
                    <!-- 用户凭证 , voucherIds ,typeName=select_box, isHideInSearch=true -->
                    <!-- 状态 , status ,typeName=radio_box, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('状态')}" class="search-label status-label">状态</span><span class="search-colon">:</span></div>

                        <div id="status" th:data="${dict.toArray('ops_system_status')}" style="width:140px"></div>


                    </div>
                    <!-- 系统分级 , grade ,typeName=select_box, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('系统分级')}" class="search-label grade-label">系统分级</span><span class="search-colon">:</span></div>
                        <div id="grade" th:data="${dict.toArray('ops_system_grade')}" style="width:140px"></div>
                    </div>
                    <!-- 备注 , notes ,typeName=text_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('备注')}" class="search-label notes-label">备注</span><span class="search-colon">:</span></div>
                        <input id="notes" class="layui-input search-input" style="width: 140px" type="text" />
                    </div>


                </div>
                <!-- 搜索输入区域 -->
                <div class="layui-form toolbar search-inputs">
                    <!-- 标签 , labels ,typeName=text_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('标签')}" class="search-label labels-label">标签</span><span class="search-colon">:</span></div>
                        <input id="labels" class="layui-input search-input" style="width: 140px" type="text" />
                    </div>
                    <!-- 业务联系人 , businessContact ,typeName=text_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('业务联系人')}" class="search-label businessContact-label">业务联系人</span><span class="search-colon">:</span></div>
                        <input id="businessContact" class="layui-input search-input" style="width: 140px" type="text" />
                    </div>
                    <!-- 技术联系人 , technicalContact ,typeName=text_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('技术联系人')}" class="search-label technicalContact-label">技术联系人</span><span class="search-colon">:</span></div>
                        <input id="technicalContact" class="layui-input search-input" style="width: 140px" type="text" />
                    </div>


                </div>
            </div>


            <!-- 按钮区域 -->
            <div class="layui-form toolbar search-buttons" style="opacity: 0">
                <button id="search-button" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>&nbsp;&nbsp;<span th:text="${lang.translate('搜索')}">搜索</span></button>
            </div>
        </div>

        <div style="margin-top: 84px ">
            <table class="layui-table" id="data-table" lay-filter="data-table"></table>
        </div>

    </div>
</div>

<script type="text/javascript" src="/module/global.js" th:src="'/module/global.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js" th:src="'/assets/libs/jquery-3.2.1.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js" th:src="'/assets/libs/pandyle.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js" th:src="'/assets/libs/layui/layui.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/toast/js/toast.js" th:src="'/assets/libs/toast/js/toast.js?'+${cacheKey}"></script>

<!-- 表格工具栏 -->
<script type="text/html" id="toolbarTemplate">
    <div class="layui-btn-container">
        <button th:if="${perm.checkAuth('ops_information_system:create')}" id="add-button" class="layui-btn icon-btn layui-btn-sm create-new-button" lay-event="create"><i class="layui-icon">&#xe654;</i><span th:text="${lang.translate('新建')}">新建</span></button>
        <button th:if="${perm.checkAuth('ops_information_system:delete-by-ids')}" id="delete-button" class="layui-btn icon-btn layui-btn-danger layui-btn-sm batch-delete-button" lay-event="batch-del"><i class="layui-icon">&#xe67e;</i><span th:text="${lang.translate('删除')}">删除</span></button>
    </div>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="tableOperationTemplate">

    <button th:if="${perm.checkAuth('ops_information_system:view-form')}" class="layui-btn layui-btn-primary layui-btn-xs ops-view-button" lay-event="view" th:text="${lang.translate('查看')}" data-id="{{d.id}}">查看</button>
    <button th:if="${perm.checkAnyAuth('ops_information_system:update','ops_information_system:save')}" class="layui-btn layui-btn-primary layui-btn-xs ops-edit-button" lay-event="edit" th:text="${lang.translate('修改')}" data-id="{{d.id}}">修改</button>


    <button th:if="${perm.checkAuth('ops_information_system:delete')}" class="layui-btn layui-btn-xs layui-btn-danger ops-delete-button" lay-event="del" th:text="${lang.translate('删除')}" data-id="{{d.id}}">删除</button>

    <button class="layui-btn layui-btn-xs " lay-event="open-system-voucher-window" th:text="${lang.translate('凭证')}" data-id="{{d.id}}">凭证</button>
    <button class="layui-btn layui-btn-xs " lay-event="open-host-window" th:text="${lang.translate('主机')}" data-id="{{d.id}}">主机</button>

</script>


<script th:inline="javascript">
    var LAYUI_TABLE_WIDTH_CONFIG = [[${pageHelper.getTableColumnWidthConfig('data-table')}]];
    var RADIO_STATUS_DATA = [[${dict.toArray('ops_system_status')}]];
    var SELECT_OPSMETHOD_DATA = [[${dict.toArray('ops_system_ops_method')}]];
    var SELECT_DEVMETHOD_DATA = [[${dict.toArray('ops_system_dev_method')}]];
    var SELECT_GRADE_DATA = [[${dict.toArray('ops_system_grade')}]];
    var AUTH_PREFIX="ops_information_system";


</script>

<script th:src="'/business/ops/information_system/information_system_ext.js?'+${cacheKey}"></script>
<script th:src="'/business/ops/information_system/information_system_list.js?'+${cacheKey}"></script>

</body>
</html>