<!-- 
/**
 * 信息系统 列表页 JS 脚本
 * @author 金杰 , maillank@qq.com
 * @since 2021-08-15 18:34:43
 */
 -->
 <!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
	<title th:text="${lang.translate('信息系统')}">信息系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css" th:href="'/assets/libs/layui/css/layui.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/css/admin.css" th:href="'/assets/css/admin.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/css/foxnic-web.css" th:href="'/assets/css/foxnic-web.css?'+${cacheKey}"/>
    <link href="/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <script th:inline="javascript">var foxnic_cachekey=[[${cacheKey}]];</script>
    <style>
    </style>
</head>

<body style="overflow-y: hidden">
<div class="form-container">

    <form id="data-form" lay-filter="data-form" class="layui-form model-form" style="display:none">
        <input name="id" id="id"  type="hidden"/>


         <!--开始：group 循环-->

        <fieldset class="layui-elem-field layui-field-title form-group-title">
            <legend>基本信息</legend>
        </fieldset>

        <div class="layui-row form-row">

             <!--开始：group 循环-->
            <div class="layui-col-xs6 form-column">


                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('名称')}">名称</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="name" id="name" name="name" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('名称') }" type="text" class="layui-input"   />
                    </div>
                </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('介绍')}">介绍</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="profile" id="profile" name="profile" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('介绍') }" type="text" class="layui-input"   />
                    </div>
                </div>


                
                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('状态')}">状态</div><div class="layui-required">*</div></div>
                        <div class="layui-input-block ">
                            <div id="status" input-type="select" th:data="${dict.toArray('ops_system_status')}"></div>
                        </div>
                    </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('技术联系人')}">技术联系人</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="technicalContact" id="technicalContact" name="technicalContact" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('技术联系人') }" type="text" class="layui-input"   />
                    </div>
                </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('业务联系人')}">业务联系人</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="businessContact" id="businessContact" name="businessContact" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('业务联系人') }" type="text" class="layui-input"   />
                    </div>
                </div>


                <!--结束：栏次内字段循环-->
            </div>
             <!--开始：group 循环-->
            <div class="layui-col-xs6 form-column">


                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('所属组织')}">所属组织</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="belongOrgInfo" id="belongOrgInfo" name="belongOrgInfo" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('所属组织') }" type="text" class="layui-input"   />
                    </div>
                </div>


                
                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('系统分级')}">系统分级</div></div>
                        <div class="layui-input-block ">
                            <div id="grade" input-type="select" th:data="${dict.toArray('ops_system_grade')}"></div>
                        </div>
                    </div>


                
                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('上线时间')}">上线时间</div></div>
                        <div class="layui-input-block ">
                            <input input-type="date" lay-filter="onlineDate" id="onlineDate" name="onlineDate"  autocomplete="off"  readonly  th:placeholder="${ lang.translate('请选择') +''+ lang.translate('上线时间') }" type="text" class="layui-input"   />
                        </div>
                    </div>


                
                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('下线时间')}">下线时间</div></div>
                        <div class="layui-input-block ">
                            <input input-type="date" lay-filter="offlineDate" id="offlineDate" name="offlineDate"  autocomplete="off"  readonly  th:placeholder="${ lang.translate('请选择') +''+ lang.translate('下线时间') }" type="text" class="layui-input"   />
                        </div>
                    </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('标签')}">标签</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="labels" id="labels" name="labels" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('标签') }" type="text" class="layui-input"   />
                    </div>
                </div>


                <!--结束：栏次内字段循环-->
            </div>
            <!--结束：栏次输入框循环-->
        </div>
         <!--开始：group 循环-->

        <fieldset class="layui-elem-field layui-field-title form-group-title">
            <legend>运维信息</legend>
        </fieldset>

        <div class="layui-row form-row">

             <!--开始：group 循环-->
            <div class="layui-col-xs6 form-column">


                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('运维模式')}">运维模式</div></div>
                        <div class="layui-input-block ">
                            <div id="opsMethod" input-type="select" th:data="${dict.toArray('ops_system_ops_method')}"></div>
                        </div>
                    </div>


                
                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('开发模式')}">开发模式</div></div>
                        <div class="layui-input-block ">
                            <div id="devMethod" input-type="select" th:data="${dict.toArray('ops_system_dev_method')}"></div>
                        </div>
                    </div>


                
                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('演练时间')}">演练时间</div></div>
                        <div class="layui-input-block ">
                            <input input-type="date" lay-filter="lastdrillDate" id="lastdrillDate" name="lastdrillDate"  autocomplete="off"  readonly  th:placeholder="${ lang.translate('请选择') +''+ lang.translate('演练时间') }" type="text" class="layui-input"   />
                        </div>
                    </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('备份信息')}">备份信息</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="backupInfo" id="backupInfo" name="backupInfo" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('备份信息') }" type="text" class="layui-input"   />
                    </div>
                </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('操作系统')}">操作系统</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="osInfo" id="osInfo" name="osInfo" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('操作系统') }" type="text" class="layui-input"   />
                    </div>
                </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('数据库')}">数据库</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="dbInfo" id="dbInfo" name="dbInfo" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('数据库') }" type="text" class="layui-input"   />
                    </div>
                </div>


                <!--结束：栏次内字段循环-->
            </div>
             <!--开始：group 循环-->
            <div class="layui-col-xs6 form-column">


                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('RPO')}">RPO</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="rpo" id="rpo" name="rpo" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('RPO') }" type="text" class="layui-input"   />
                    </div>
                </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('RTO')}">RTO</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="rto" id="rto" name="rto" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('RTO') }" type="text" class="layui-input"   />
                    </div>
                </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('硬件信息')}">硬件信息</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="hardwareInfo" id="hardwareInfo" name="hardwareInfo" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('硬件信息') }" type="text" class="layui-input"   />
                    </div>
                </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('本地备份')}">本地备份</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="sameplaceBacupInfo" id="sameplaceBacupInfo" name="sameplaceBacupInfo" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('本地备份') }" type="text" class="layui-input"   />
                    </div>
                </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('异地备份')}">异地备份</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="diffplaceBackupInfo" id="diffplaceBackupInfo" name="diffplaceBackupInfo" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('异地备份') }" type="text" class="layui-input"   />
                    </div>
                </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('备注')}">备注</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="notes" id="notes" name="notes" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('备注') }" type="text" class="layui-input"   />
                    </div>
                </div>


                <!--结束：栏次内字段循环-->
            </div>
            <!--结束：栏次输入框循环-->
        </div>
        <!--结束：group循环-->

        <div style="height: 8px"></div>


    </form>

</div>

<div class="model-form-footer">
    <button class="layui-btn layui-btn-primary" id="cancel-button" lay-filter="cancel-button" type="button" th:text="${lang.translate('取消')}" >取消</button>
    <button th:if="${perm.checkAnyAuth('ops_information_system:create','ops_information_system:update','ops_information_system:save')}" class="layui-btn" style="margin-right: 15px"  id="submit-button" lay-filter="submit-button" lay-submit th:text="${lang.translate('保存')}">保存</button>
</div>

<script type="text/javascript" src="/module/global.js" th:src="'/module/global.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js" th:src="'/assets/libs/jquery-3.2.1.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js" th:src="'/assets/libs/pandyle.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js" th:src="'/assets/libs/layui/layui.js?'+${cacheKey}"></script>

<script th:inline="javascript">
    var LAYUI_TABLE_WIDTH_CONFIG = [[${layuiTableWidthConfig}]];
    var SELECT_STATUS_DATA = [[${dict.toArray('ops_system_status')}]];
    var SELECT_OPSMETHOD_DATA = [[${dict.toArray('ops_system_ops_method')}]];
    var SELECT_DEVMETHOD_DATA = [[${dict.toArray('ops_system_dev_method')}]];
    var SELECT_GRADE_DATA = [[${dict.toArray('ops_system_grade')}]];
    var VALIDATE_CONFIG={"status":{"labelInForm":"状态","inputType":"select_box","required":true}};
    var AUTH_PREFIX="ops_information_system";
</script>

<script th:src="'/business/ops/information_system/information_system_form.js?'+${cacheKey}"></script>

</body>
</html>