
settings:
  enableMicroService: true 
  enableSwagger: true


#源代码相关的部分
source: 
  #DAO常量名
  daoNameConst: org.github.foxnic.web.framework.dao.DBConfigs.PRIMARY_DAO
  #系统常量包名
  domainConstantsPackage: com.dt.platform.constants

#使用不同的机器码对应到作者
authors:
  #指定机器码与对应的作者，机器码在代码生成时控制台输出，或main函数调用 Machine.getIdentity()
  B15BDA59450483F9: 李方捷 , leefangjie@qq.com
  B1894FFE47E36B09: 李方捷 , leefangjie@qq.com
  D7B67D75818C671B: 金杰 , maillank@qq.com


compoments: 
  domain: /common/domain
  proxy: /common/proxy
  


#应用清单
applications: 
  #EAM
  service-eam:
    nacosGroup: service
    nacosDataId: service-eam.yml
    serviceProjectPath:  /service/service-eam
    packageName: com.dt.platform.eam
    primaryDatasourceConfigKey: spring.datasource.druid.primary
    microServiceNameConst: EAM
    viewProjectPath: /view/view-eam
    viewPrefixPath: public/business/eam
    wrapperProjectPath:  /wrapper/wrapper-all
  #HRM
  service-hrm:
    nacosGroup: service
    nacosDataId: service-hrm.yml
    serviceProjectPath:  /service/service-hrm
    packageName: com.dt.platform.hrm
    primaryDatasourceConfigKey: spring.datasource.druid.primary
    microServiceNameConst: HRM
    viewProjectPath: /view/view-hrm
    viewPrefixPath: public/business/hrm
    wrapperProjectPath:  /wrapper/wrapper-all
  #数据中心
  service-datacenter:
    nacosGroup: service
    nacosDataId: service-datacenter.yml
    serviceProjectPath: /service/service-datacenter
    packageName: com.dt.platform.datacenter
    primaryDatasourceConfigKey: spring.datasource.druid.primary
    microServiceNameConst: DATACENTER
    viewProjectPath: /view/view-datacenter
    viewPrefixPath: public/business/datacenter
    wrapperProjectPath: /wrapper/wrapper-all
  #运维模块
  service-ops:
    nacosGroup: service
    nacosDataId: service-ops.yml
    serviceProjectPath: /service/service-ops
    packageName: com.dt.platform.ops
    primaryDatasourceConfigKey: spring.datasource.druid.primary
    microServiceNameConst: OPS
    viewProjectPath: /view/view-ops
    viewPrefixPath: public/business/ops
    wrapperProjectPath: /wrapper/wrapper-all
  #功能模块
  service-common:
    nacosGroup: service
    nacosDataId: service-common.yml
    serviceProjectPath: /service/service-common
    packageName: com.dt.platform.common
    primaryDatasourceConfigKey: spring.datasource.druid.primary
    microServiceNameConst: COMMON
    viewProjectPath: /view/view-common
    viewPrefixPath: public/business/common
    wrapperProjectPath: /wrapper/wrapper-all
  #知识库模块
  service-knowledgebase:
    nacosGroup: service
    nacosDataId: service-knowledgebase.yml
    serviceProjectPath: /service/service-knowledgebase
    packageName: com.dt.platform.knowledgebase
    primaryDatasourceConfigKey: spring.datasource.druid.primary
    microServiceNameConst: KNOWLEDGEBASE
    viewProjectPath: /view/view-knowledgebase
    viewPrefixPath: public/business/knowledgebase
    wrapperProjectPath: /wrapper/wrapper-all
  #合同模块
  service-contract:
    nacosGroup: service
    nacosDataId: service-contract.yml
    serviceProjectPath: /service/service-contract
    packageName: com.dt.platform.contract
    primaryDatasourceConfigKey: spring.datasource.druid.primary
    microServiceNameConst: CONTRACT
    viewProjectPath: /view/view-contract
    viewPrefixPath: public/business/contract
    wrapperProjectPath: /wrapper/wrapper-all
 
    
