<!-- 
/**
 * 机柜区域 列表页 JS 脚本
 * @author 金杰 , maillank@qq.com
 * @since 2021-07-30 16:39:11
 */
 -->
 <!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
    <title th:text="${lang.translate('机柜区域')}">机柜区域</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css"/>
    <link rel="stylesheet" href="/assets/css/foxnic-web.css">
    <link href="/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
</head>

<body style="overflow-y: hidden">

<div class="layui-card">
 
    <div class="layui-card-body">
        <div class="layui-form toolbar search-bar">

            <div class="search-unit">
                <span th:text="${lang.translate('名称')}" class="search-label">名称</span><span class="search-colon">:</span>
                <input id="name" class="layui-input search-input" type="text" th:placeholder="${lang.translate('请输入名称')}"/>
            </div>
            <div class="search-unit">
                <span th:text="${lang.translate('区域')}" class="search-label">区域</span><span class="search-colon">:</span>
                <input id="position" class="layui-input search-input" type="text" th:placeholder="${lang.translate('请输入区域')}"/>
            </div>
            <div class="search-unit">
                <span th:text="${lang.translate('备注')}" class="search-label">备注</span><span class="search-colon">:</span>
                <input id="notes" class="layui-input search-input" type="text" th:placeholder="${lang.translate('请输入备注')}"/>
            </div>

            <button id="search-button" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i><span th:text="${lang.translate('搜索')}">搜索</span></button>
            <button th:if="${perm.checkAuth('dc_rack_area:create')}" id="add-button" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i><span th:text="${lang.translate('添加')}">添加</span></button>
            <button th:if="${perm.checkAuth('dc_rack_area:delete-by-ids')}" id="delete-button" class="layui-btn icon-btn layui-btn-danger"><i class="layui-icon">&#xe67e;</i><span th:text="${lang.translate('删除')}">删除</span></button>
            
        </div>

        <table class="layui-table" id="data-table" lay-filter="data-table"></table>
    </div>
</div>

<script type="text/javascript" src="/module/global.js"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>

<!-- 表格操作列 -->
<script type="text/html" id="tableOperationTemplate">
    <a th:if="${perm.checkAuth('dc_rack_area:view-form')}" class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit" th:text="${lang.translate('修改')}">修改</a>
    <a th:if="${perm.checkAuth('dc_rack_area:delete')}" class="layui-btn layui-btn-xs" lay-event="del" th:text="${lang.translate('删除')}">删除</a>
</script>


<script th:inline="javascript">
    var LAYUI_TABLE_WIDTH_CONFIG = [[${layuiTableWidthConfig}]];
    var AUTH_PREFIX="dc_rack_area";
</script>

<script src="/business/datacenter/rack_area/rack_area_list.js"></script>

</body>
</html>