<!-- 
#(authorAndTime)
 -->
 <!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
	<title th:text="${lang.translate('#(topic)')}">#(topic)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css"/>
    <link rel="stylesheet" href="/module/formSelects/formSelects-v4.css"/>
    <link rel="stylesheet" href="/assets/css/foxnic-web.css">
</head>

<body>

<form id="data-form" lay-filter="data-form" class="layui-form model-form" style="display:none">
    #for(f : hiddenFields)
    <input name="#(f.varName)" id="#(f.varName)"  type="hidden"/>
    #end
    #for(f : fields)
    #if(f.isImageField)
    
    <div class="layui-form-item">
    	<label class="layui-form-label" ></label>
	    <div class="layui-upload layui-input-block">
		  <button type="button" class="layui-btn" id="#(f.varName)-button" th:text="${lang.translate('选择图片')}">选择图片</button>
		  <div class="layui-upload-list">
		    <img class="layui-upload-img" onclick="window.previewImage(this)" id="#(f.varName)-image" style="width:92px;height:92px" src="/assets/images/no-image-92@2x.png">
		    <p id="#(f.varName)-text"></p>
		  </div>
		</div>
	</div>
	
	#else if(f.isLogicField)
	
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('#(f.label)')}">#(f.label)</label>
        <div class="layui-input-block">
            <input type="checkbox" checked="" id="#(f.varName)"  name="#(f.varName)" lay-skin="switch" lay-filter="#(f.varName)" lay-text="#(f.logicField.labelOn)|#(f.logicField.labelOff)" value="#(f.logicField.valueOn)">
        </div>
    </div>
    
	#else if(f.isRadioField)
	
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('#(f.label)')}">#(f.label)</label>
        <div class="layui-input-block">
        	#if(f.radioField.dict!=null)
            <input type="radio" name="#(f.varName)" lay-filter="#(f.varName)" th:each="e,stat:${enum.toArray('org.github.foxnic.web.constants.enums.MenuType')}" th:value="${e.code}" th:title="${e.text}">
            #end
            #if(f.radioField.enumTypeName!=null)
            <input type="radio" name="#(f.varName)" lay-filter="#(f.varName)" th:each="e,stat:${enum.toArray('#(f.radioField.enumTypeName)')}" th:value="${e.code}" th:title="${e.text}">
            #end
        </div>
    </div>
    
    #else if(f.isMulitiLine)
    
        <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('#(f.label)')}">#(f.label)</label>
        <div class="layui-input-block">
            <textarea lay-filter="#(f.varName)" id="#(f.varName)" name="#(f.varName)" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('#(f.label)') }" class="layui-textarea" #(f.layVerifyHtml) #(f.maxLenHtml) #(f.requiredHtml)></textarea>
        </div>
    </div>
    
    #else 
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('#(f.label)')}">#(f.label)</label>
        <div class="layui-input-block">
            <input lay-filter="#(f.varName)" id="#(f.varName)" name="#(f.varName)" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('#(f.label)') }" type="text" class="layui-input" #(f.layVerifyHtml) #(f.maxLenHtml) #(f.requiredHtml) />
        </div>
    </div>
    
	#end
	
    #end

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button" th:text="${lang.translate('取消')}">取消</button>
        <button class="layui-btn"  id="submit-button" lay-filter="submit-button" lay-submit th:text="${lang.translate('保存')}">保存</button>
    </div>
</form>

<script type="text/javascript" src="/module/global.js"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>

<script src="#(jsURI)"></script>

</body>
</html>