<!-- 
#(authorAndTime)
 -->
 <!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
    <title th:text="${lang.translate('#(topic)')}">#(topic)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css" th:href="'/assets/libs/layui/css/layui.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/css/admin.css" th:href="'/assets/css/admin.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/libs/toast/css/toast.css" type="text/css" th:href="'/assets/libs/toast/css/toast.css?'+${cacheKey}">
    <link rel="stylesheet" href="/assets/css/foxnic-web.css" th:href="'/assets/css/foxnic-web.css?'+${cacheKey}">
    <link href="/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <script th:inline="javascript">var foxnic_cachekey=[[${cacheKey}]];</script>
    <style>
        #if(marginDisabled)
        .layui-card-body .layui-table {
            margin:0px;
        }
        #end
    </style>
</head>

<body style="overflow-y: hidden">

<div class="#if(!marginDisabled)layui-card#else layui-card-no-shadow #end">
 
    <div class="layui-card-body" style="#if(marginDisabled)padding:0px#end">

        <div class="search-bar" style="#if(searchDisabled) display: none; #end">

            <div class="search-input-rows" style="opacity: 0">
                #for(searchFields : searchRows)
                <!-- 搜索输入区域 -->
                <div class="layui-form toolbar search-inputs">
                    #for(f : searchFields)
                    <!-- #(f.labelInSearch) , #(f.varName) ,typeName=#(f.typeName), isHideInSearch=#(f.isHideInSearch) -->
                    #if(!f.isHideInSearch)
                    <div class="search-unit">
                        <div class="search-label-div" style="#if(f.search.labelWidth!=null)width:#(f.search.labelWidth)px#end"><span th:text="${lang.translate('#(f.labelInSearch)')}" class="search-label #(f.varName)-label">#(f.labelInSearch)</span><span class="search-colon">:</span></div>
                        #if(f.typeName.equals("logic_switch"))
                        <div id="#(f.varName)" data='[{"name":"#(f.logicField.labelOn)","value":"#(f.logicField.valueOn)"},{"name":"#(f.logicField.labelOff)","value":"#(f.logicField.valueOff)"}]' style="width:#(f.search.inputWidth)px"></div>
                        #else if(f.typeName.equals("select_box"))
                        #if(f.selectField.queryApi!=null && f.search.fuzzySearch)
                         <input id="#(f.varName)" class="layui-input search-input" style="width: #(f.search.inputWidth)px" type="text" />
                        #else
                        <div id="#(f.varName)" th:data="#if(f.selectField.enumTypeName!=null)${enum.toArray('#(f.selectField.enumTypeName)')}#end#if(f.selectField.queryApi!=null)${'#(f.selectField.queryApi)'}#end#if(f.selectField.dictCode!=null)${dict.toArray('#(f.selectField.dictCode)')}#end" style="width:#(f.search.inputWidth)px"></div>
                        #end
                        #else if(f.typeName.equals("radio_box"))

                        #if(f.radioField.dictCode!=null)
                        <div id="#(f.varName)" th:data="${dict.toArray('#(f.radioField.dictCode)')}" style="width:#(f.search.inputWidth)px"></div>
                        #end

                        #if(f.radioField.enumTypeName!=null)
                        <div id="#(f.varName)" th:data="${enum.toArray('#(f.radioField.enumTypeName)')}" style="width:#(f.search.inputWidth)px"></div>
                        #end

                        #else if(f.typeName.equals("check_box"))

                            #if(f.checkField.dictCode!=null)
                                <div id="#(f.varName)" th:data="${dict.toArray('#(f.checkField.dictCode)')}" style="width:#(f.search.inputWidth)px"></div>
                            #end

                            #if(f.checkField.enumTypeName!=null)
                                <div id="#(f.varName)" th:data="${enum.toArray('#(f.checkField.enumTypeName)')}" style="width:#(f.search.inputWidth)px"></div>
                            #end

                        #else if(f.typeName.equals("date_input"))
                            #if(f.search.searchInRange)
                            <input type="text" id="#(f.varName)-begin" style="width: #(f.search.inputWidth)px" lay-verify="date" th:placeholder="${lang.translate('开始日期')}" autocomplete="off" class="layui-input search-input search-date-input"  readonly >
                            <span class="search-dash">-</span>
                            <input type="text" id="#(f.varName)-end"  style="width: #(f.search.inputWidth)px"  lay-verify="date" th:placeholder="${lang.translate('结束日期')}" autocomplete="off" class="layui-input search-input search-date-input" readonly>
                            #else
                            <input type="text" id="#(f.varName)"  style="width: #(f.search.inputWidth)px"  lay-verify="date" th:placeholder="${lang.translate('请选择')}" autocomplete="off" class="layui-input search-input search-date-input" readonly>
                            #end
                        #else if(f.typeName.equals("number_input"))
                            #if(f.search.searchInRange)
                            <input id="#(f.varName)-begin" class="layui-input search-input" style="width: #(f.search.inputWidth)px" type="text" autocomplete="off" input-type="number_input"  integer="#(f.numberInput.isInteger)" decimal="#(f.numberInput.isDecimal)" allow-negative="#(f.numberInput.allowNegative)" step="#(f.numberInput.step)" min-value="#(f.numberInput.minValue)" max-value="#(f.numberInput.maxValue)" scale="#(f.numberInput.scale)"/>
                            <span class="search-dash">-</span>
                            <input id="#(f.varName)-end" class="layui-input search-input" style="width: #(f.search.inputWidth)px" type="text" autocomplete="off" input-type="number_input"  integer="#(f.numberInput.isInteger)" decimal="#(f.numberInput.isDecimal)" allow-negative="#(f.numberInput.allowNegative)" step="#(f.numberInput.step)" min-value="#(f.numberInput.minValue)" max-value="#(f.numberInput.maxValue)" scale="#(f.numberInput.scale)"/>
                            #else
                            <input id="#(f.varName)" class="layui-input search-input" style="width: #(f.search.inputWidth)px" type="text" autocomplete="off" input-type="number_input" integer="#(f.numberInput.isInteger)" decimal="#(f.numberInput.isDecimal)" allow-negative="#(f.numberInput.allowNegative)" step="#(f.numberInput.step)" min-value="#(f.numberInput.minValue)" max-value="#(f.numberInput.maxValue)" scale="#(f.numberInput.scale)"/>
                            #end
                        #else if(f.typeName.equals("button"))
                            <input lay-filter="#(f.varName)" id="#(f.varName)" name="#(f.varName)"  type="hidden" class="layui-input"  #if(f.validate!=null)  lay-verify="#if(f.validate.isRequired)|required#end#if(f.validate.isPhone)|phone#end#if(f.validate.isEmail)|email#end#if(f.validate.isUrl)|url#end#if(f.validate.isDate)|date#end#if(f.validate.isIdentity)|identity#end"  #end  />
                            <button id="#(f.varName)-button" type="button" action-type="#(f.buttonField.action.actionType)" class="layui-btn layui-btn-primary #if(f.buttonField.action.css!=null) #(f.buttonField.action.css) #end" style="width: 100%">#if(f.buttonField.action.iconHtml!=null) #(f.buttonField.action.iconHtml) #end<span th:text="${lang.translate('#(f.buttonField.text)')}">按钮文本</span></button>
                        #else
                        <input id="#(f.varName)" class="layui-input search-input" style="width: #(f.search.inputWidth)px" type="text" />
                        #end
                    </div>
                    #end
                    #end

                    #if(isTree)
                    <span id="tree-nav" class="layui-breadcrumb" style="padding-left:16px"></span>
                    #end

                </div>
                #end
            </div>


            <!-- 按钮区域 -->
            <div class="layui-form toolbar search-buttons" style="opacity: 0">
                <button id="search-button" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>&nbsp;&nbsp;<span th:text="${lang.translate('搜索')}">搜索</span></button>
                #if(searchRows.size() > searchRowsDisplay)
                <button id="search-button-advance" class="layui-btn layui-btn-primary icon-btn search-button-advance"><i class="layui-icon">&#xe671;</i><span th:text="${lang.translate('更多')}">更多</span></button>
                #end
            </div>
        </div>

        <div style="margin-top: #if(searchDisabled)0px #else #(searchRowsDisplay * 42)px #end">
            <table class="layui-table" id="data-table" lay-filter="data-table"></table>
        </div>

    </div>
</div>

<script type="text/javascript" src="/module/global.js" th:src="'/module/global.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js" th:src="'/assets/libs/jquery-3.2.1.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js" th:src="'/assets/libs/pandyle.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js" th:src="'/assets/libs/layui/layui.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/toast/js/toast.js" th:src="'/assets/libs/toast/js/toast.js?'+${cacheKey}"></script>

<!-- 表格工具栏 -->
<script type="text/html" id="toolbarTemplate">
    <div class="layui-btn-container">
        #if(!disableCreateNew)
        <button th:if="${perm.checkAuth('#(authPrefix):create')}" id="add-button" class="layui-btn icon-btn layui-btn-sm create-new-button" lay-event="create"><i class="layui-icon">&#xe654;</i><span th:text="${lang.translate('新建')}">新建</span></button>
        #end
        #if(!disableBatchDelete)
        #if(isSimplePK)
        <button th:if="${perm.checkAuth('#(authPrefix):delete-by-ids')}" id="delete-button" class="layui-btn icon-btn layui-btn-danger layui-btn-sm batch-delete-button" lay-event="batch-del"><i class="layui-icon">&#xe67e;</i><span th:text="${lang.translate('删除')}">删除</span></button>
        #end
        #end
        #for(b:toolButtons)
        <button id="#(b.id)" class="layui-btn icon-btn layui-btn-sm #if(b.css!=null) #(b.css) #end" lay-event="tool-#(b.id)">#if(b.iconHtml!=null) #(b.iconHtml) #end<span th:text="${lang.translate('#(b.label)')}">#(b.label)</span></button>
        #end
    </div>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="tableOperationTemplate">
	#if(isTree)
    <button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="drill" th:text="${lang.translate('下级')}" data-id="{{d.id}}">下级</button>
	#end

    #if(!disableFormView)
    <button th:if="${perm.checkAuth('#(authPrefix):view-form')}" class="layui-btn layui-btn-primary layui-btn-xs ops-view-button" lay-event="view" th:text="${lang.translate('查看')}" data-id="{{d.id}}">查看</button>
    #end
    #if(!disableModify)
    <button th:if="${perm.checkAnyAuth('#(authPrefix):update','#(authPrefix):save')}" class="layui-btn layui-btn-primary layui-btn-xs ops-edit-button" lay-event="edit" th:text="${lang.translate('修改')}" data-id="{{d.id}}">修改</button>
    #end


    #if(!disableSingleDelete)
    <button th:if="${perm.checkAuth('#(authPrefix):delete')}" class="layui-btn layui-btn-xs layui-btn-danger ops-delete-button" lay-event="del" th:text="${lang.translate('删除')}" data-id="{{d.id}}">删除</button>
    #end

    #for(b:opColumnButtons)
    <button class="layui-btn layui-btn-xs #if(b.css!=null) #(b.css) #end" lay-event="#(b.id)" th:text="${lang.translate('#(b.label)')}" data-id="{{d.id}}">#(b.label)</button>
    #end

    #if(opColumnMenus!=null && opColumnMenus.size()>0)
    <button class="layui-btn layui-btn-xs layui-btn-primary layui-border-blue" lay-event="ops-more" data-id="{{d.id}}"><span th:text="${lang.translate('更多')}">更多</span><i class="layui-icon layui-icon-down"></i></button>
    #end
</script>

#if(hasLogicField)
<!-- 表格状态列 -->
#for(f:fields)
#if(f.typeName.equals("logic_switch"))
<script type="text/html" id="cell-tpl-#(f.varName)">
    <input type="checkbox" class="switch-#(f.varName) list-checkbox" lay-filter="cell-tpl-#(f.varName)" value="{{d.#(idPropertyName)}}" lay-skin="switch" lay-text="#(f.logicField.labelOn)|#(f.logicField.labelOff)&nbsp;"  {{d.#(f.varName)==#(f.logicField.valueOn)?'checked':''}} data-id="{{d.id}}"/>
</script>
#end
#end
#end

<script th:inline="javascript">
    var LAYUI_TABLE_WIDTH_CONFIG = [[${pageHelper.getTableColumnWidthConfig('data-table')}]];
    #for(f:fields)
    #if(f.typeName.equals("radio_box"))
    #if(f.radioField.dictCode!=null)
    var RADIO_#(f.varName.toUpperCase())_DATA = [[${dict.toArray('#(f.radioField.dictCode)')}]];
    #end
    #if(f.radioField.enumTypeName!=null)
    var RADIO_#(f.varName.toUpperCase())_DATA = [[${enum.toArray('#(f.radioField.enumTypeName)')}]];
    #end
    #else if(f.typeName.equals("check_box"))
    #if(f.checkField.dictCode!=null)
    var CHECK_#(f.varName.toUpperCase())_DATA = [[${dict.toArray('#(f.checkField.dictCode)')}]];
    #end
    #if(f.checkField.enumTypeName!=null)
    var CHECK_#(f.varName.toUpperCase())_DATA = [[${enum.toArray('#(f.checkField.enumTypeName)')}]];
    #end
    #else if(f.typeName.equals("select_box"))
    #if(f.selectField.dictCode!=null)
    var SELECT_#(f.varName.toUpperCase())_DATA = [[${dict.toArray('#(f.selectField.dictCode)')}]];
    #end
    #if(f.selectField.enumTypeName!=null)
    var SELECT_#(f.varName.toUpperCase())_DATA = [[${enum.toArray('#(f.selectField.enumTypeName)')}]];
    #end
    #end
    #end
    var AUTH_PREFIX="#(authPrefix)";

    #for(v:jsVariables)
    // #(v.note)
    var #(v.name) = #(v.value) ;
    #end

</script>

<script th:src="'#(extURI)?'+${cacheKey}"></script>
<script th:src="'#(jsURI)?'+${cacheKey}"></script>

</body>
</html>