package #(package);

import org.github.foxnic.web.framework.view.controller.ViewController;
#(imports)
import javax.servlet.http.HttpServletRequest;
#(classJavaDoc)

@Controller("#(beanName)")
@RequestMapping(#(simpleName).prefix)
public class #(simpleName) extends ViewController {
	
	public static final String prefix="#(uriPrefix)";

	private #(proxyName) proxy;
	
	/**
	 * 获得代理对象<br> 
	 * 1、单体应用时，在应用内部调用；<br> 
	 * 2、前后端分离时，通过配置，以Rest方式调用后端；<br> 
	 * 3、微服务时，通过feign调用; <br> 
	 * */
	public #(proxyName) proxy() {
		if(proxy==null) {
			proxy=#(proxyName).api();
		}
		return proxy;
	}
	
	/**
	 * #(topic) 功能主页面
	 */
	@RequestMapping("/#(listPageName).html")
	public String list(Model model,HttpServletRequest request) {
		return prefix+"/#(listPageName)";
	}

	/**
	 * #(topic) 表单页面
	 */
	@RequestMapping("/#(formPageName).html")
	public String form(Model model,HttpServletRequest request#(pkParamList)) {
		return prefix+"/#(formPageName)";
	}
}