<!-- 
/**
 * 资产归属数据 列表页 JS 脚本
 * @author 金杰 , maillank@qq.com
 * @since 2021-08-20 16:13:12
 */
 -->
 <!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
	<title th:text="${lang.translate('资产归属数据')}">资产归属数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css" th:href="'/assets/libs/layui/css/layui.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/css/admin.css" th:href="'/assets/css/admin.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/css/foxnic-web.css" th:href="'/assets/css/foxnic-web.css?'+${cacheKey}"/>
    <link href="/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <script th:inline="javascript">var foxnic_cachekey=[[${cacheKey}]];</script>
    <style>
    </style>
</head>

<body style="overflow-y: hidden">
<div class="form-container">

    <form id="data-form" lay-filter="data-form" class="layui-form model-form" style="display:none">
        <input name="id" id="id"  type="hidden"/>


         <!--开始：group 循环-->

        <fieldset class="layui-elem-field layui-field-title form-group-title">
            <legend>归属属性</legend>
        </fieldset>

        <div class="layui-row form-row">

             <!--开始：group 循环-->
            <div class="layui-col-xs4 form-column">


                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('所属组织')}">所属组织</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="managementOrganizationId" id="managementOrganizationId" name="managementOrganizationId" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('所属组织') }" type="text" class="layui-input"   />
                    </div>
                </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('使用组织')}">使用组织</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="userOrganizationId" id="userOrganizationId" name="userOrganizationId" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('使用组织') }" type="text" class="layui-input"   />
                    </div>
                </div>


                
                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('仓库')}">仓库</div></div>
                        <div class="layui-input-block ">
                            <div id="warehouseId" input-type="select" th:data="${'/service-eam/eam-position/query-list'}"></div>
                        </div>
                    </div>


                <!--结束：栏次内字段循环-->
            </div>
             <!--开始：group 循环-->
            <div class="layui-col-xs4 form-column">


                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('管理人员')}">管理人员</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="managerId" id="managerId" name="managerId" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('管理人员') }" type="text" class="layui-input"   />
                    </div>
                </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('使用人员')}">使用人员</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="userId" id="userId" name="userId" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('使用人员') }" type="text" class="layui-input"   />
                    </div>
                </div>


                <!--结束：栏次内字段循环-->
            </div>
             <!--开始：group 循环-->
            <div class="layui-col-xs4 form-column">


                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('存放位置')}">存放位置</div></div>
                        <div class="layui-input-block ">
                            <div id="positionId" input-type="select" th:data="${'/service-eam/eam-position/query-list'}"></div>
                        </div>
                    </div>


                
                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('详细位置')}">详细位置</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="positionDetail" id="positionDetail" name="positionDetail" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('详细位置') }" type="text" class="layui-input"   />
                    </div>
                </div>


                <!--结束：栏次内字段循环-->
            </div>
            <!--结束：栏次输入框循环-->
        </div>
         <!--开始：group 循环-->


        <div class="layui-row form-row">

             <!--开始：group 循环-->
            <div class="layui-col-xs12 form-column">


                <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('备注')}">备注</div></div>
                    <div class="layui-input-block ">
                        <input lay-filter="notes" id="notes" name="notes" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('备注') }" type="text" class="layui-input"   />
                    </div>
                </div>


                <!--结束：栏次内字段循环-->
            </div>
            <!--结束：栏次输入框循环-->
        </div>
        <!--结束：group循环-->

        <div style="height: 8px"></div>


    </form>

</div>

<div class="model-form-footer">
    <button class="layui-btn layui-btn-primary" id="cancel-button" lay-filter="cancel-button" type="button" th:text="${lang.translate('取消')}" >取消</button>
    <button th:if="${perm.checkAnyAuth('eam_asset_ext_attribution:create','eam_asset_ext_attribution:update','eam_asset_ext_attribution:save')}" class="layui-btn" style="margin-right: 15px;display: none;"  id="submit-button" lay-filter="submit-button" lay-submit th:text="${lang.translate('保存')}">保存</button>
</div>

<script type="text/javascript" src="/module/global.js" th:src="'/module/global.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js" th:src="'/assets/libs/jquery-3.2.1.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js" th:src="'/assets/libs/pandyle.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js" th:src="'/assets/libs/layui/layui.js?'+${cacheKey}"></script>

<script th:inline="javascript">
    var LAYUI_TABLE_WIDTH_CONFIG = [[${layuiTableWidthConfig}]];
    var VALIDATE_CONFIG={};
    var AUTH_PREFIX="eam_asset_ext_attribution";
</script>

<script th:src="'/business/eam/asset_ext_attribution/asset_ext_attribution_ext.js?'+${cacheKey}"></script>
<script th:src="'/business/eam/asset_ext_attribution/asset_ext_attribution_form.js?'+${cacheKey}"></script>

</body>
</html>