<!-- 
/**
 * 合同 列表页 JS 脚本
 * @author 金杰 , maillank@qq.com
 * @since 2021-09-05 12:20:38
 */
 -->
 <!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
    <title th:text="${lang.translate('合同')}">合同</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css" th:href="'/assets/libs/layui/css/layui.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/css/admin.css" th:href="'/assets/css/admin.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/libs/toast/css/toast.css" type="text/css" th:href="'/assets/libs/toast/css/toast.css?'+${cacheKey}">
    <link rel="stylesheet" href="/assets/css/foxnic-web.css" th:href="'/assets/css/foxnic-web.css?'+${cacheKey}">
    <link href="/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <script th:inline="javascript">var foxnic_cachekey=[[${cacheKey}]];</script>
    <style>
    </style>
</head>

<body style="overflow-y: hidden">

<div class="layui-card">
 
    <div class="layui-card-body" style="">

        <div class="search-bar" style="">

            <div class="search-input-rows" style="opacity: 0">
                <!-- 搜索输入区域 -->
                <div class="layui-form toolbar search-inputs">
                    <!-- 主键 , id ,typeName=text_input, isHideInSearch=true -->
                    <!-- 合同名称 , name ,typeName=text_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('合同名称')}" class="search-label name-label">合同名称</span><span class="search-colon">:</span></div>
                        <input id="name" class="layui-input search-input" style="width: 140px" type="text" />
                    </div>
                    <!-- 合同类型 , categoryId ,typeName=text_input, isHideInSearch=true -->
                    <!-- 我方身份 , identity ,typeName=text_input, isHideInSearch=true -->
                    <!-- 资金流向 , fundDirect ,typeName=text_input, isHideInSearch=true -->
                    <!-- 金额 , money ,typeName=number_input, isHideInSearch=true -->
                    <!-- 总金额 , allmoney ,typeName=number_input, isHideInSearch=true -->
                    <!-- 承办人 , userId ,typeName=text_input, isHideInSearch=true -->
                    <!-- 承办人部门 , deptId ,typeName=text_input, isHideInSearch=true -->
                    <!-- 关联招标 , biddingId ,typeName=text_input, isHideInSearch=true -->
                    <!-- 我方联系人 , firstContacts ,typeName=text_input, isHideInSearch=true -->
                    <!-- 我方联系方式 , firstContactInformation ,typeName=text_input, isHideInSearch=true -->
                    <!-- 对方单位联系人 , relatedContacts ,typeName=text_input, isHideInSearch=true -->
                    <!-- 对方单位联系方式 , relatedContactInformation ,typeName=text_input, isHideInSearch=true -->
                    <!-- 监理单位 , supervisionUnit ,typeName=text_input, isHideInSearch=true -->
                    <!-- 监理人 , supervisionContacts ,typeName=text_input, isHideInSearch=true -->
                    <!-- 监理联系方式 , supervisionContactInformation ,typeName=text_input, isHideInSearch=true -->
                    <!-- 结束时间 , endTime ,typeName=date_input, isHideInSearch=true -->
                    <!-- 签订时间 , auditTime ,typeName=date_input, isHideInSearch=true -->
                    <!-- 附件 , attach ,typeName=text_input, isHideInSearch=true -->
                    <!-- 备注 , notes ,typeName=text_area, isHideInSearch=true -->
                    <!-- 合同编号 , code ,typeName=text_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('合同编号')}" class="search-label code-label">合同编号</span><span class="search-colon">:</span></div>
                        <input id="code" class="layui-input search-input" style="width: 140px" type="text" />
                    </div>
                    <!-- 资金状态 , fundStatus ,typeName=text_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('资金状态')}" class="search-label fundStatus-label">资金状态</span><span class="search-colon">:</span></div>
                        <input id="fundStatus" class="layui-input search-input" style="width: 140px" type="text" />
                    </div>
                    <!-- 合同状态 , state ,typeName=text_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('合同状态')}" class="search-label state-label">合同状态</span><span class="search-colon">:</span></div>
                        <input id="state" class="layui-input search-input" style="width: 140px" type="text" />
                    </div>


                </div>
                <!-- 搜索输入区域 -->
                <div class="layui-form toolbar search-inputs">
                    <!-- 我方单位 , firstCompanyName ,typeName=text_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('我方单位')}" class="search-label firstCompanyName-label">我方单位</span><span class="search-colon">:</span></div>
                        <input id="firstCompanyName" class="layui-input search-input" style="width: 140px" type="text" />
                    </div>
                    <!-- 对方单位 , relatedCompanyId ,typeName=text_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('对方单位')}" class="search-label relatedCompanyId-label">对方单位</span><span class="search-colon">:</span></div>
                        <input id="relatedCompanyId" class="layui-input search-input" style="width: 140px" type="text" />
                    </div>
                    <!-- 对方单位 , relatedCompanyName ,typeName=text_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('对方单位')}" class="search-label relatedCompanyName-label">对方单位</span><span class="search-colon">:</span></div>
                        <input id="relatedCompanyName" class="layui-input search-input" style="width: 140px" type="text" />
                    </div>


                </div>
                <!-- 搜索输入区域 -->
                <div class="layui-form toolbar search-inputs">
                    <!-- 生效时间 , effectTime ,typeName=date_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('生效时间')}" class="search-label effectTime-label">生效时间</span><span class="search-colon">:</span></div>
                            <input type="text" id="effectTime"  style="width: 140px"  lay-verify="date" th:placeholder="${lang.translate('请选择')}" autocomplete="off" class="layui-input search-input search-date-input" readonly>
                    </div>
                    <!-- 失效时间 , lostEffectTime ,typeName=date_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('失效时间')}" class="search-label lostEffectTime-label">失效时间</span><span class="search-colon">:</span></div>
                            <input type="text" id="lostEffectTime"  style="width: 140px"  lay-verify="date" th:placeholder="${lang.translate('请选择')}" autocomplete="off" class="layui-input search-input search-date-input" readonly>
                    </div>


                </div>
            </div>


            <!-- 按钮区域 -->
            <div class="layui-form toolbar search-buttons" style="opacity: 0">
                <button id="search-button" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>&nbsp;&nbsp;<span th:text="${lang.translate('搜索')}">搜索</span></button>
                <button id="search-button-advance" class="layui-btn layui-btn-primary icon-btn search-button-advance"><i class="layui-icon">&#xe671;</i><span th:text="${lang.translate('更多')}">更多</span></button>
            </div>
        </div>

        <div style="margin-top: 84px ">
            <table class="layui-table" id="data-table" lay-filter="data-table"></table>
        </div>

    </div>
</div>

<script type="text/javascript" src="/module/global.js" th:src="'/module/global.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js" th:src="'/assets/libs/jquery-3.2.1.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js" th:src="'/assets/libs/pandyle.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js" th:src="'/assets/libs/layui/layui.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/toast/js/toast.js" th:src="'/assets/libs/toast/js/toast.js?'+${cacheKey}"></script>

<!-- 表格工具栏 -->
<script type="text/html" id="toolbarTemplate">
    <div class="layui-btn-container">
        <button th:if="${perm.checkAuth('cont_contract:create')}" id="add-button" class="layui-btn icon-btn layui-btn-sm create-new-button" lay-event="create"><i class="layui-icon">&#xe654;</i><span th:text="${lang.translate('新建')}">新建</span></button>
        <button th:if="${perm.checkAuth('cont_contract:delete-by-ids')}" id="delete-button" class="layui-btn icon-btn layui-btn-danger layui-btn-sm batch-delete-button" lay-event="batch-del"><i class="layui-icon">&#xe67e;</i><span th:text="${lang.translate('删除')}">删除</span></button>
    </div>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="tableOperationTemplate">

    <button th:if="${perm.checkAuth('cont_contract:view-form')}" class="layui-btn layui-btn-primary layui-btn-xs ops-view-button" lay-event="view" th:text="${lang.translate('查看')}" data-id="{{d.id}}">查看</button>
    <button th:if="${perm.checkAnyAuth('cont_contract:update','cont_contract:save')}" class="layui-btn layui-btn-primary layui-btn-xs ops-edit-button" lay-event="edit" th:text="${lang.translate('修改')}" data-id="{{d.id}}">修改</button>


    <button th:if="${perm.checkAuth('cont_contract:delete')}" class="layui-btn layui-btn-xs layui-btn-danger ops-delete-button" lay-event="del" th:text="${lang.translate('删除')}" data-id="{{d.id}}">删除</button>


</script>


<script th:inline="javascript">
    var LAYUI_TABLE_WIDTH_CONFIG = [[${pageHelper.getTableColumnWidthConfig('data-table')}]];
    var AUTH_PREFIX="cont_contract";


</script>

<script th:src="'/business/contract/contract/contract_ext.js?'+${cacheKey}"></script>
<script th:src="'/business/contract/contract/contract_list.js?'+${cacheKey}"></script>

</body>
</html>