<!-- 
/**
 * 合同 列表页 JS 脚本
 * @author 金杰 , maillank@qq.com
 * @since 2021-09-12 13:05:33
 */
 -->
 <!DOCTYPE html>
<html style="background-color: #FFFFFF;">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
	<title th:text="${lang.translate('合同')}">合同</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css" th:href="'/assets/libs/layui/css/layui.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/css/admin.css" th:href="'/assets/css/admin.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/libs/toast/css/toast.css" type="text/css" th:href="'/assets/libs/toast/css/toast.css?'+${cacheKey}">
    <link rel="stylesheet" href="/assets/css/foxnic-web.css" th:href="'/assets/css/foxnic-web.css?'+${cacheKey}"/>
    <link href="/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <script th:inline="javascript">var foxnic_cachekey=[[${cacheKey}]];</script>
    <style>
    </style>
</head>

<body style="overflow-y: hidden;">
<div class="form-container" >

    <form id="data-form" lay-filter="data-form" class="layui-form model-form" style="display:none">

        <input name="id" id="id"  type="hidden"/>

         <!--开始：group 循环-->



        <div class="layui-row form-row">

             <!--开始：group 循环-->
            <div class="layui-col-xs3 form-column">

                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('合同编号')}">合同编号</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="code" id="code" name="code" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('合同编号') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('合同类型')}">合同类型</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="categoryId" id="categoryId" name="categoryId" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('合同类型') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('合同名称')}">合同名称</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="name" id="name" name="name" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('合同名称') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('资金状态')}">资金状态</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="fundStatus" id="fundStatus" name="fundStatus" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('资金状态') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('合同状态')}">合同状态</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="state" id="state" name="state" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('合同状态') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('关联招标')}">关联招标</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="biddingId" id="biddingId" name="biddingId" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('关联招标') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                
                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('总金额')}">总金额</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="allmoney" id="allmoney" name="allmoney" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('总金额') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="1.0"   scale="0" />
                        </div>
                    </div>


                <!--结束：栏次内字段循环-->
            </div>
             <!--开始：group 循环-->
            <div class="layui-col-xs3 form-column">

                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('我方单位')}">我方单位</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="firstCompanyName" id="firstCompanyName" name="firstCompanyName" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('我方单位') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('我方联系人')}">我方联系人</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="firstContacts" id="firstContacts" name="firstContacts" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('我方联系人') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('我方联系方式')}">我方联系方式</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="firstContactInformation" id="firstContactInformation" name="firstContactInformation" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('我方联系方式') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('监理单位')}">监理单位</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="supervisionUnit" id="supervisionUnit" name="supervisionUnit" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('监理单位') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('监理人')}">监理人</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="supervisionContacts" id="supervisionContacts" name="supervisionContacts" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('监理人') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('监理联系方式')}">监理联系方式</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="supervisionContactInformation" id="supervisionContactInformation" name="supervisionContactInformation" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('监理联系方式') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                <!--结束：栏次内字段循环-->
            </div>
             <!--开始：group 循环-->
            <div class="layui-col-xs3 form-column">

                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('对方单位')}">对方单位</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="relatedCompanyId" id="relatedCompanyId" name="relatedCompanyId" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('对方单位') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('对方单位')}">对方单位</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="relatedCompanyName" id="relatedCompanyName" name="relatedCompanyName" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('对方单位') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('对方单位联系人')}">对方单位联系人</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="relatedContacts" id="relatedContacts" name="relatedContacts" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('对方单位联系人') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('对方单位联系方式')}">对方单位联系方式</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="relatedContactInformation" id="relatedContactInformation" name="relatedContactInformation" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('对方单位联系方式') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                <!--结束：栏次内字段循环-->
            </div>
             <!--开始：group 循环-->
            <div class="layui-col-xs3 form-column">


                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('生效时间')}">生效时间</div></div>
                        <div class="layui-input-block ">
                            <input input-type="date" lay-filter="effectTime" id="effectTime" name="effectTime"  autocomplete="off"  readonly  th:placeholder="${ lang.translate('请选择') +''+ lang.translate('生效时间') }" type="text" class="layui-input"   />
                        </div>
                    </div>

                
                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('签订时间')}">签订时间</div></div>
                        <div class="layui-input-block ">
                            <input input-type="date" lay-filter="auditTime" id="auditTime" name="auditTime"  autocomplete="off"  readonly  th:placeholder="${ lang.translate('请选择') +''+ lang.translate('签订时间') }" type="text" class="layui-input"   />
                        </div>
                    </div>

                
                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('结束时间')}">结束时间</div></div>
                        <div class="layui-input-block ">
                            <input input-type="date" lay-filter="endTime" id="endTime" name="endTime"  autocomplete="off"  readonly  th:placeholder="${ lang.translate('请选择') +''+ lang.translate('结束时间') }" type="text" class="layui-input"   />
                        </div>
                    </div>

                
                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('失效时间')}">失效时间</div></div>
                        <div class="layui-input-block ">
                            <input input-type="date" lay-filter="lostEffectTime" id="lostEffectTime" name="lostEffectTime"  autocomplete="off"  readonly  th:placeholder="${ lang.translate('请选择') +''+ lang.translate('失效时间') }" type="text" class="layui-input"   />
                        </div>
                    </div>

                <!--结束：栏次内字段循环-->
            </div>
            <!--结束：栏次输入框循环-->
        </div>
         <!--开始：group 循环-->



        <div class="layui-row form-row">

             <!--开始：group 循环-->
            <div class="layui-col-xs12 form-column">

                    <div class="layui-form-item" >
                        <div class="layui-form-label "><div th:text="${lang.translate('附件')}">附件</div></div>
                        <div class="layui-input-block ">
                            <input lay-filter="attach" id="attach" name="attach" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('附件') }" type="text" class="layui-input"  />
                        </div>
                    </div>

                
                    <div class="layui-form-item" >
                    <div class="layui-form-label "><div th:text="${lang.translate('备注')}">备注</div></div>
                    <div class="layui-input-block ">
                        <textarea lay-filter="notes" id="notes" name="notes" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('备注') }" class="layui-textarea" style="height: 30px" ></textarea>
                    </div>
                </div>


                <!--结束：栏次内字段循环-->
            </div>
            <!--结束：栏次输入框循环-->
        </div>
        <!--结束：group循环-->

        <div style="height: 8px"></div>
        <div style="height: 250px"></div>


    </form>

</div>
<div class="model-form-footer">
    <button class="layui-btn layui-btn-primary" id="cancel-button" lay-filter="cancel-button" type="button" th:text="${lang.translate('取消')}" >取消</button>
    <button th:if="${perm.checkAnyAuth('cont_contract:create','cont_contract:update','cont_contract:save')}" class="layui-btn" style="margin-right: 15px;display: none;"  id="submit-button" lay-filter="submit-button" lay-submit th:text="${lang.translate('保存')}">保存</button>
</div>

<script type="text/javascript" src="/module/global.js" th:src="'/module/global.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js" th:src="'/assets/libs/jquery-3.2.1.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js" th:src="'/assets/libs/pandyle.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js" th:src="'/assets/libs/layui/layui.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/toast/js/toast.js" th:src="'/assets/libs/toast/js/toast.js?'+${cacheKey}"></script>

<script th:inline="javascript">
    var LAYUI_TABLE_WIDTH_CONFIG = [[${layuiTableWidthConfig}]];
    var VALIDATE_CONFIG={};
    var AUTH_PREFIX="cont_contract";


</script>



<script th:src="'/business/contract/contract/contract_ext.js?'+${cacheKey}"></script>
<script th:src="'/business/contract/contract/contract_form.js?'+${cacheKey}"></script>

</body>
</html>