[mysqld]
init_connect='SET collation_connection = gbk_chinese_ci'
init_connect='SET NAMES gbk'
character-set-server=gbk
collation-server=gbk_chinese_ci
skip-character-set-client-handshake
server-id =1
datadir=/data/mysql/data
tmpdir=/data/mysql/tmp
socket=/data/mysql/run/mysql.sock
pid-file=/data/mysql/run/mysql.pid
binlog_format=row
log-bin=/data/mysql/log/mysql-bin
log-error=/data/mysql/log/error.log
long_query_time=1
slow-query-log
slow-query-log-file=/data/mysql/log/slow.log
skip-external-locking
skip-name-resolve
character-set-server=gbk
binlog_format=row
max_binlog_size=128M
binlog_cache_size=1M
expire-logs-days=7
back_log=500
max_connections=4000
max_user_connections=2500
max_connect_errors=100
max_prepared_stmt_count=65535
wait_timeout=100
interactive_timeout=100
connect_timeout=20
transaction_isolation=READ-COMMITTED
key_buffer_size=2M
max_allowed_packet=512M
table_open_cache=2048
table_definition_cache=4096
sort_buffer_size=512K
read_buffer_size=512K
read_rnd_buffer_size=512K
join_buffer_size=512K
myisam_sort_buffer_size =512K
tmp_table_size=64M
max_heap_table_size=64M
query_cache_type=0
query_cache_size=0
bulk_insert_buffer_size=32M
thread_cache_size=64
thread_stack=256K
#thread_poolֻÔmysqlÆҵ°æ,ÉÇ°æÓ,mariadbºÍercona serverûÓÏÖ
#thread_pool_size =24        #Æҵ°æ¿ª
#plugin-load=thread_pool.so  #Æҵ°æ¿ª
sql_mode=PIPES_AS_CONCAT,IGNORE_SPACE,NO_KEY_OPTIONS,NO_TABLE_OPTIONS,NO_FIELD_OPTIONS,NO_AUTO_CREATE_USER
log-bin-trust-function-creators=1
# InnoDB
innodb_data_home_dir=/data/mysql/data
innodb_log_group_home_dir =/data/mysql/log
innodb_data_file_path=ibdata1:512M:autoextend
innodb_buffer_pool_size=256M   #Í¼öµÉÖΪ×Ä´æ70%-80%×Ó
innodb_buffer_pool_instances=8
innodb_log_file_size =1G
innodb_log_buffer_size=16M
innodb_log_files_in_group=3
innodb_flush_log_at_trx_commit=1
innodb_undo_directory=/data/mysql/log
innodb_undo_logs=128
innodb_undo_tablespaces=3
innodb_lock_wait_timeout=50
innodb_max_dirty_pages_pct=75
innodb_thread_concurrency=24
innodb_thread_sleep_delay=500
innodb_concurrency_tickets=1000
innodb_flush_method=O_DIRECT
innodb_file_per_table=1
innodb_read_io_threads=16
innodb_write_io_threads=16
innodb_io_capacity=2000
innodb_purge_threads=1
innodb_purge_batch_size=32
innodb_old_blocks_pct=75
innodb_change_buffering=all
innodb_stats_on_metadata=OFF
#replication settings
gtid_mode=on
enforce_gtid_consistency=1
[mysql]
no-auto-rehash
max_allowed_packet=128M
prompt='(product)\u@\h [\d]> '
default_character_set=gbk
socket=/data/mysql/run/mysql.sock
[mysqldump]
quick
max_allowed_packet=128M
[client]
default_character_set=gbk
socket=/data/mysql/run/mysql.sock

